<body>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>

    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/medicina-general.png" class="d-block w-100" alt="Medicina General">
        <div class="carousel-caption d-none d-md-block">
          <h5>Medicina General</h5>
          <p>Atención médica integral y confiable para ti y tu familia,
             con diagnóstico oportuno y cuidado personalizado.
             Tu salud en las mejores manos, desde la prevención hasta el tratamiento.
          </p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="img/Ginecología-y-Obstetricia.png" class="d-block w-100" alt="Ginecología y Obstetricia">
        <div class="carousel-caption d-none d-md-block">
          <h5>Ginecología y Obstetricia</h5>
          <p>Atención especializada para la salud femenina en todas las etapas de la vida.
            Cuidado integral en ginecología y obstetricia con confianza, prevención y acompañamiento profesional.
          </p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="img/Cardiología.png" class="d-block w-100" alt="Cardiología">
        <div class="carousel-caption d-none d-md-block">
          <h5>Cardiología</h5>
          <p>Cuidado especializado para tu corazón con tecnología avanzada y diagnóstico preciso.
              Protege tu salud cardiovascular con atención experta y personalizada.
          </p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="img/Neurologia.png" class="d-block w-100" alt="Neurologia">
        <div class="carousel-caption d-none d-md-block">
          <h5>Neurologia</h5>
          <p>Diagnóstico y tratamiento especializado para enfermedades del sistema nervioso.
            Cuidado neurológico integral con tecnología y experiencia para proteger tu bienestar.
          </p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="img/Pediatria.png" class="d-block w-100" alt="Pediatria">
        <div class="carousel-caption d-none d-md-block">
          <h5>Pediatria</h5>
          <p>Atención médica especializada para el cuidado y desarrollo de tus hijos.
              Pediatría con calidez, confianza y seguimiento integral desde el nacimiento.
          </p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>
